@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  /* background-color: #FF077E; */
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 225, 1) 48%, rgba(252, 238, 69, 1) 100%);
  background-size: cover;
  background-position: center;
  height: 100vh;
  flex-direction: column;
  display: flex;
}


:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

/* FOOTER */

.footer {
  background-color: transparent;
  height: 75px;
  color: #fff;
  display: flex;
  font-size: 15px;
  margin-top: 50px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

header {
  position: relative;
  height: 75px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
}

.logo {
  margin-top: 9px;
  width: 40%;
  height: 30%;
  display: flex;
  left: 1;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vh;
  margin-top: 4vh;
}

.itemsHeader {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  column-gap: 60%;
  font-size: 19px;
  white-space: nowrap;
  margin-top: 2px;
  font-family: "Cinzel", serif;
  margin-right: 250px;
}

.itemsHeader a {
  text-decoration: none;
  color: #ffffff;
}

.itemsHeader a:hover {
  text-decoration: underline #89023e;
  color: #89023e;
}

img {
  top: 0;
  height: 200px;
  width: 145px;

}

/*MENU HAMBURGUER (NAVEGAR PELO SITE) */

.menu-1 {
  display: flex;
  cursor: pointer;
  width: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.menu {
  display: none;
  /* Inicialmente oculto */
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  /* Largura do menu */
  height: 100%;
  /* Altura igual à altura da tela */
  background-color: #1b2021;
  /* Cor de fundo do menu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Sombra para efeito de destaque */
  border-radius: 2%;
}

.menu ul li {
  margin-right: 30px;
  /* Espaçamento entre os itens da lista */
  text-align: center;
  /* Centralizar texto dentro da lista */
}

.menu.active {
  display: block;
  /* Exibido quando ativo */
  right: 0;
}

.menu ul {
  list-style-type: none;
  padding: 50px;
  margin-top: -22%;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  text-decoration: none;
}

.btn-nav {
  background-color: #89023E;
  color: white;
  transition: background-color 0s ease;


}

.btn-nav:hover {
  background-color: #6c002e;
}

.btn-nav a {
  color: white;
  text-decoration: none;
}

.btn-nav-white a {
  color: white;
  text-decoration: none;
}

.btn-nav-white {
  background-color: rgba(255, 255, 255, 0.048);
  color: #89023E;
  border: 2px solid #89023E;
  transition: background-color 0.3s ease, color 0.3s ease;
}




.btn-nav-white:hover {
  color: white;
  background-color: #89023E;
}

.btn-nav-white h3 {
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.btn-nav,
.btn-nav-white,
.btn-logout {
  width: 80%;
  /* Ajustar largura dos botões */
  height: 20%;
  color: white;
  text-align: center;
  padding: 1px 4px;
  margin: 15px auto;
}

.btn-logout {
  width: 30%;
  /* Ajustar largura do botão */
  background-color: #89023E;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  cursor: pointer;
}


.imgJanela {
  margin-left: 40px;
  margin-top: 0;
  width: 70%;
  height: 30%;
  display: flex;
  justify-content: center;
}

.imgJanela2 {
  width: 200px;
  height: 230px;
  display: flex;
  justify-content: center;
}

.img {
  width: 200px;
  height: 200px;
  margin-left: 0px;
  margin-top: 0;
}

.container-main {
  /* color: #ffffff; */
  text-align: center;

}

/* LOGO DO SITE (SUPERIOR) */

.logo {
  margin-top: 9px;
  width: 40%;
  height: 30%;
}

/* ITENS NO CANTO SUPERIOR */

img {
  top: 0;
  height: 200px;
  width: 145px;
  clip-path: inset(50px 20px 69px 0 round 50px);
}

.login {
  height: var(--tamanho-login);
  background-size: cover;
  margin-top: -50px;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  margin-top: 10%;
  width: 50%;
  background-color: #f0f0f060;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #FFff;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  backdrop-filter: blur(10px);
  border: 3px solid #1b202109
}

.card h2 {
  margin: 0;
  font-size: 30px;
  margin-top: -40px;
}


.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #0C163B;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #0C163B;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.linkCadatro {
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

.linkCadatro:hover {
  text-decoration: underline #1B2021;
  color: #1B2021;
}


.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #FF077E;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
  transition: .3s ease-in-out;
}

.botao:hover {
  background-color: #0C163B;
}


.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}



.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}

.containerb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 50px;
  background-color: #ffffff7b;
}

.form {
  flex: 1;
  padding: 40px;
}

.form h2 {
  margin-bottom: 20px;
}

.form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: -2px;
  /* Aumente o valor para aumentar o espaço entre os campos */
}

.form button {
  width: 100%;
  padding: 10px;
  height: 100%;
  background-color: #1B2021;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form button:hover {
  background-color: #89023E;
  color: #ffffff;
  transform: scale(1.05);
}

.image {
  flex: 1;
  height: auto;
  background-image: url('../assets/img/icon.png');
  background-size: cover;
  background-position: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  /* Ajuste conforme necessário */
  max-width: 200px;
  /* Ajuste conforme necessário */
  height: auto;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  object-fit: cover;
  /* Importante para controlar o ajuste da imagem */
  margin-right: 10%;
}