@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cinzel", serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 225, 1) 50%, rgba(252, 238, 69, 1) 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #242121;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu-1 {
    display: flex;
    cursor: pointer;
    width: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.menu {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    /* Largura do menu */
    height: 100%;
    /* Altura igual à altura da tela */
    background-color: #2421217c;
    /* Cor de fundo do menu */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra para efeito de destaque */
    border-radius: 2%;
}

.menu ul li {
    margin-right: 30px;
    /* Espaçamento entre os itens da lista */
    text-align: center;
    /* Centralizar texto dentro da lista */
}

.menu.active {
    display: block;
    /* Exibido quando ativo */
    left: 0;
}

.menu ul {
    list-style-type: none;
    padding: 50px;
    margin-top: -22%;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    text-decoration: none;
}

.btn-nav {
    background-color: #89023E;
    color: white;
    transition: background-color 0s ease;
}

.btn-nav:hover {
    background-color: #6c002e;
}

.btn-nav a {
    color: white;
    text-decoration: underline;
    text-decoration: none;
}

.btn-nav-white {
    background-color: rgba(255, 255, 255, 0.267);
    color: #89023E;
    border: 2px solid #89023E;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-nav-white:hover {
    color: white;
    background-color: #89023E;
}

.btn-nav-white h3 {
    color: #ffffff;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.btn-nav,
.btn-nav-white,
.btn-logout {
    width: 80%;
    /* Ajustar largura dos botões */
    height: 20%;
    color: white;
    text-align: center;
    padding: 1px 4px;
    margin: 15px auto;
}

.btn-logout {
    width: 30%;
    /* Ajustar largura do botão */
    background-color: #89023E;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
}

.imgJanela {
    margin-left: 40px;
    margin-top: 0;
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.img {
    width: 200px;
    height: 200px;
    margin-left: 0px;
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin-top: 20px;
}

.card {
    width: 100%;
    max-width: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    padding: 20px;
    transition: transform 0.3s;
}

.card:nth-child(odd) {
    background-color: #89023e;
}

.card:nth-child(even) {
    background-color: #5d483c;
}

.card h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-5px);
}

.footer {
    width: 100%;
    height: 80px;
    background-color: #242121;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.dash {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    /* Ajuste a margem superior conforme necessário */
    /* Espaço entre os itens */
}

/* Estilo para a seção de informações globais */
.jogadores-media {
    flex-basis: 100%;
    /*Ocupa 100% da largura disponível */
}

/* Estilo para os boxes de informações */
.box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.info-box {
    background-color: #f0f0f060;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 200px;
    /* Flexível, mínimo de 200px */
}

.info-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 17px;
}

/* Estilo para a tabela de classificação */
#classificacao {
    flex: 1 1 45%;
    /* Flexível, ocupa até 45% da largura */
}

#tabelaClassificacao {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tabelaClassificacao th,
#tabelaClassificacao td {
    border: 1px solid #dddddd5e;
    padding: 10px;
    text-align: center;
}

#tabelaClassificacao th {
    background-color: #f2f2f256;
}

.grafico-evolucao {
    flex: 1 1 45%;
    /* Flexível, ocupa até 45% da largura */
}

#graficoEvolucaoAcertos {
    width: 100%;
    height: 300px;
    background-color: #ffffff41;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

@media (max-width: 768px) {
    .dash {
        flex-direction: column;
        align-items: center;
    }

    #classificacao,
    .grafico-evolucao {
        flex: 1 1 100%;
    }
}

.player-highlighted {
    font-weight: bold;
}

td {
    font-weight: bold;
}

.scrollable-content {
    max-height: 400px;
    /* Altura máxima do conteúdo rolável */
    overflow-y: auto;
    /* Adiciona barra de rolagem vertical quando necessário */
    padding: 20px;
    margin-top: 20px;
    /* Ajuste conforme necessário */
}

.botaoc {
    display: flex;
    justify-content: center;
    /* Alinha os botões ao centro horizontal */
    gap: 40px;
    /* Espaçamento entre os botões */
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    background-color: #89023E;
    color: #ffffff;
    text-decoration: none;
    /* Remove underline from anchor */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-right: 10px;
    /* Espaçamento entre os botões */
}

.botao:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}